<div style="margin-top:10px; " class="alert alert-success col-sm-9  col-md-9 col-sm-offset-1 col-md-offset-1"  ng-show="showAlertSuccess">
	<strong>Success!</strong> 
</div>
<div style="margin-top:10px; " class="alert alert-danger col-sm-9  col-md-9 col-sm-offset-1 col-md-offset-1"  ng-show="showAlertFail">
	<strong>Fail!</strong> 
</div>
<div class="col-sm-12 col-md-12 col-lg-12 page-title" style="margin-bottom: 50px">
	<h3>Manage Field</h3>
</div>

<!-- end page-title-->
<div class="x_panel col-sm-12 col-md-12 col-lg-12">
	<div class="x_title">
		<a class="btn btn-success btn-sm"  ng-click="toggle('add',0)" data-toggle="modal" data-target=".add-city-modal">
			<i class="fa fa-plus"></i>Add Field
		</a>
		<div class="clearfix"></div>
	</div>
	<!-- end x_title-->
	<div class="x_content ">
		<table datatable="ng" id="datatable" cellspacing="0" width="100%" class="table display nowrap table-striped table-bordered">
			<thead>
				<tr>
					<th>Field Id</th>
					<th>Field name</th>
					<th>District</th>
					<th>Address</th>
					<th>Phone</th>
					<th></th>
				</tr>
			</thead>
			<tbody >
				<tr  ng-repeat="objectShow in objects ">
					<td>{{objectShow.fieldId }}</td>
					<td>{{objectShow.fieldName}}</td>
					<td>{{objectShow.districtName}}</td>
					<td>{{objectShow.address}}</td>
					<td>{{objectShow.phoneNumber}}</td>
					<td>
						<a    ng-click="toggle('edit', objectShow.fieldId )" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".add-city-modal">Detail</a>
						<a   ng-click="comfirmDelete(objectShow.fieldId)" class="btn btn-danger btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
<!-- Modal -->
<div class="modal fade bs-example-modal-sm delete-field-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel2">Notification</h4>
			</div>
			<div class="modal-body">
				<h4>Are you sure delete this item?</h4>
				<input type="text" hidden="true" name="fieldId" >
				</div>
				<div class="modal-header" style="overflow: auto">
					<div style="float: right">
						<button type="button" class="btn btn-sm btn-danger btn-delete-disease" ng-click="deleteObject(idDelete)">Delete</button>
						<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="myModal" class="modal fade add-city-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">{{form_title}}</h4>
				</div>
				<div id="mapContainer">
					<ng-map id="mapCanvas" center="16.055656,108.196791" zoom="15" on-click="getpos($event)">
				      		<marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)" 
				        animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
					</ng-map>
				</div>
				{{latlng}}
				<div class="modal-body">
					<div class="x_content">
						<form  id ="formAU" name="form_a_u"  class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fieldName">Field Name
										<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="fieldName"  type="text" ng-model="object.fieldName" ng-required="true">
									<input  name="fieldId" hidden="true"  type="text" ng-model="object.fieldId">
								</div>
								<span class="help-inline"
									ng-show="form_a_u.fieldName.$invalid && form_a_u.fieldName.$touched">FieldName field is invalid
								</span>

							</div>
							<div class="item form-group">
					  			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fieldName">District 
										<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control col-md-7 col-xs-12" id="district"  ng-model="valueDistrict">
					  					<option ng-repeat="district in districts" value="{{district.districtId}}">{{district.districtName}}</option>
					  				</select>
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fieldName">Address
										<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="address"  type="text" ng-model="object.address" ng-required="true">
								</div>
								<span class="help-inline"
									ng-show="form_a_u.address.$invalid && form_a_u.address.$touched">Address field is invalid
								</span>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fieldName">Phone
										<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="phone"  type="text" ng-model="object.phoneNumber" ng-required="true" ng-pattern="/^[0-9]{1,12}$/">
								</div>
								<span class="help-inline"
									ng-show="form_a_u.phone.$invalid && form_a_u.phone.$touched">Phone number field is invalid
								</span>
								<span class="help-inline" ng-show="form_a_u.phoneNumber.$error.pattern">Not a valid number!</span>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fieldName">Latitude
										<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="latitude"  type="text" ng-model="object.latitude" readonly="readonly">
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fieldName">Longitude
										<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="longitude"  type="text" ng-model="object.longitude" readonly="readonly">
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-md-offset-3">
									<button ng-disabled="form_a_u.$invalid" id="addUser" ng-click="saveRecord(modalstate, id)" class="btn btn-success">Submit</button>
									<a ng-click="btnCancel()" class="btn btn-default btn-cancel">Hủy</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
			